PAAS LAB #3/Azure PAAS #3.json
[
    {
        "id": "93ccba3716553933",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a6d38a24987a553",
        "type": "ibmiot in",
        "z": "93ccba3716553933",
        "authentication": "apiKey",
        "apiKey": "9505a80a74f379ee",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "amirul",
        "applicationId": "",
        "deviceType": "-",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "From Pi",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "f5b56be2748673f3"
            ]
        ]
    },
    {
        "id": "f5b56be2748673f3",
        "type": "debug",
        "z": "93ccba3716553933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "045878464609bbc0",
        "type": "ibmiot out",
        "z": "93ccba3716553933",
        "authentication": "apiKey",
        "apiKey": "9505a80a74f379ee",
        "outputType": "evt",
        "deviceId": "123",
        "deviceType": "raspberrypi",
        "eventCommandType": "statusindicator",
        "format": "json",
        "data": "{}",
        "qos": 0,
        "name": "Pi to Azure",
        "service": "registered",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "c4ca7f9d030dc08c",
        "type": "inject",
        "z": "93ccba3716553933",
        "name": "Normal",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Normal From Azure",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "31f55a9a008274f8"
            ]
        ]
    },
    {
        "id": "db5de2fb1eac9242",
        "type": "inject",
        "z": "93ccba3716553933",
        "name": "Alert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alert From Azure",
        "payloadType": "str",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "31f55a9a008274f8"
            ]
        ]
    },
    {
        "id": "31f55a9a008274f8",
        "type": "function",
        "z": "93ccba3716553933",
        "name": "Format Message",
        "func": "msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 440,
        "wires": [
            [
                "4549c3c56b47acc3"
            ]
        ]
    },
    {
        "id": "4549c3c56b47acc3",
        "type": "json",
        "z": "93ccba3716553933",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "045878464609bbc0",
                "07b92a6b893ed6fd"
            ]
        ]
    },
    {
        "id": "07b92a6b893ed6fd",
        "type": "debug",
        "z": "93ccba3716553933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "e1f21311919d531d",
        "type": "ibmiot in",
        "z": "93ccba3716553933",
        "authentication": "apiKey",
        "apiKey": "019a3c662696a51e",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "senb080027899f6b",
        "applicationId": "",
        "deviceType": "senseHat",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "760b3f2b788d22ce",
                "f8c3545822b2a790",
                "c5d9071a35808106",
                "74d7815f60059b3f"
            ]
        ]
    },
    {
        "id": "6ca9864d891b1f6d",
        "type": "debug",
        "z": "93ccba3716553933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "33bff231db3e56cd",
        "type": "ui_button",
        "z": "93ccba3716553933",
        "name": "",
        "group": "3a8e1e92355ef610",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "760b3f2b788d22ce",
        "type": "function",
        "z": "93ccba3716553933",
        "name": "Temperature",
        "func": "  msg.payload=msg.payload.d.Data.Environment.temperature;\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 940,
        "wires": [
            [
                "e2aaded8b567598d"
            ]
        ]
    },
    {
        "id": "f8c3545822b2a790",
        "type": "function",
        "z": "93ccba3716553933",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "ba20165466c62df1"
            ]
        ]
    },
    {
        "id": "c5d9071a35808106",
        "type": "function",
        "z": "93ccba3716553933",
        "name": "Pressure",
        "func": "msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1140,
        "wires": [
            [
                "fed8da845137328b"
            ]
        ]
    },
    {
        "id": "74d7815f60059b3f",
        "type": "debug",
        "z": "93ccba3716553933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e2aaded8b567598d",
        "type": "ui_gauge",
        "z": "93ccba3716553933",
        "name": "",
        "group": "3a8e1e92355ef610",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 960,
        "wires": []
    },
    {
        "id": "ba20165466c62df1",
        "type": "ui_gauge",
        "z": "93ccba3716553933",
        "name": "",
        "group": "3a8e1e92355ef610",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fed8da845137328b",
        "type": "ui_gauge",
        "z": "93ccba3716553933",
        "name": "",
        "group": "3a8e1e92355ef610",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a4f532c3ae0ac253",
        "type": "ibmiot in",
        "z": "93ccba3716553933",
        "authentication": "apiKey",
        "apiKey": "019a3c662696a51e",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "amirul",
        "applicationId": "",
        "deviceType": "senseHat",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "From Pi",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 410,
        "y": 680,
        "wires": [
            [
                "6ca9864d891b1f6d"
            ]
        ]
    },
    {
        "id": "9505a80a74f379ee",
        "type": "ibmiot",
        "name": "Mytoken1",
        "keepalive": "60",
        "serverName": "",
        "cleansession": false,
        "appId": "",
        "shared": false
    },
    {
        "id": "019a3c662696a51e",
        "type": "ibmiot",
        "name": "Mytoken2",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "3a8e1e92355ef610",
        "type": "ui_group",
        "name": "Default",
        "tab": "67007904d2cd3a37",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67007904d2cd3a37",
        "type": "ui_tab",
        "name": "Environment",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]