PAAS LAB #3/Raspbian PAAS #3.json
[{"id":"f915c63.20b2138","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"400df864.064988","type":"inject","z":"f915c63.20b2138","name":"Inject Node","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":220,"wires":[["459ae2f9.a6f48c"]]},{"id":"459ae2f9.a6f48c","type":"random","z":"f915c63.20b2138","name":"","low":1,"high":10,"inte":"true","property":"payload","x":820,"y":220,"wires":[["9eef9fd.c73206"]]},{"id":"9eef9fd.c73206","type":"function","z":"f915c63.20b2138","name":"Format Data","func":"msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["15ba6768.2ed349","f423d063.a0877"]]},{"id":"15ba6768.2ed349","type":"debug","z":"f915c63.20b2138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":160,"wires":[]},{"id":"f5cd3b4a.07c228","type":"debug","z":"f915c63.20b2138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":460,"wires":[]},{"id":"34248404.eda70c","type":"ibmiot in","z":"f915c63.20b2138","authentication":"apiKey","apiKey":"44050e28.d3afb","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"From Azure","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":610,"y":460,"wires":[["f5cd3b4a.07c228"]]},{"id":"1d101dc4.0b20e2","type":"rpi-sensehatsim in","z":"f915c63.20b2138","name":"","motion":false,"env":true,"stick":false,"x":420,"y":660,"wires":[["a33d9f18.fc65f"]]},{"id":"a33d9f18.fc65f","type":"delay","z":"f915c63.20b2138","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":660,"wires":[["4fa71767.723a08"]]},{"id":"4fa71767.723a08","type":"function","z":"f915c63.20b2138","name":"Environment Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb080027899f6b\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":660,"wires":[["ee6a6284.ea4da","d0df66d8.b0e828"]]},{"id":"ee6a6284.ea4da","type":"debug","z":"f915c63.20b2138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":660,"wires":[]},{"id":"f423d063.a0877","type":"ibmiot out","z":"f915c63.20b2138","authentication":"apiKey","apiKey":"44050e28.d3afb","outputType":"evt","deviceId":"amirul","deviceType":"0.20.7","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Pi to Azure","service":"registered","x":1210,"y":360,"wires":[]},{"id":"d0df66d8.b0e828","type":"wiotp out","z":"f915c63.20b2138","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"dff59a9e.4a31a8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Pi Azure","x":1140,"y":780,"wires":[]},{"id":"44050e28.d3afb","type":"ibmiot","z":"","name":"Mytoken1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"dff59a9e.4a31a8","type":"wiotp-credentials","z":"","name":"Mytoken2","org":"yehayh","serverName":"","devType":"raspberrypiGW","devId":"080027899f6b","keepalive":"60","cleansession":true,"tls":"","usetls":false}]